


 <table class="displaytable">
<tr>
<td>Rank</td>
<td></td>
    <td>Achievement</td>
    <td>Points</td>
    <td width="200">Category</td>

    
</tr>


    
    
    @foreach (var achievement in Model)
    {
        if (achievement == null)
        {
            continue;
        }
        
        <tr>
        <td>@achievement.Rank </td>
        <td><img src="@Web_UI.Models.ImageHelper.MediumImage(achievement)" border="0" /></td>
    <td><a href="http://www.wowhead.com/achievement=@achievement.BlizzardID">@achievement.Name</a><br /><span class="achdescription">@achievement.Description</span></td>
    <td>@achievement.Points</td>
    
    <td>@Web_UI.Models.CategoryHelper.CategoryDisplay(achievement)</td>
    
</tr>

        }


    </table>
